body{
    background-image: url('assets/Goodfellas__25th_Anniversary_How_Am_I_Funny__Warner_Bros_Ent.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

h1 {
  color: azure;
  text-align: center;
  padding-top: 5em;
}

li {
  list-style: none;
}

.recipe {
  color: azure;
  text-align: center;
  padding-top: 5em;
}


