body{
  background: url('/assets/TV_Static_In_The_Dark (1).gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  display:flex
}

main > div {
  flex: 50%;
}

h1 {
  color: azure;
  text-align: center;
  padding-top: 3em;
  padding-left: .9em;
}

ul {
  margin-top: 15em;
  padding-right: 2.5em;
}

li {
  color: azure;
  list-style-type: none;
  text-align: center;
  padding-bottom: 1em;
}

a {
  color: azure;
}