body{
  background: url('/assets/TV_Static_In_The_Dark (1).gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  display:flex
}

main > div {
  flex: 50%;
}

h1 {
  color: azure;
  text-align: center;
  padding-top: 5em;
}

li {
  color: azure;
  list-style-type: none;
  text-align: center;
}



